{% extends "./course.twig" %}

{% block outside %}
    <div class="popup">
        <div class="popup__content">
            <div class="popup__heading">
                <h3 class="popup__title">Продлить доступ</h3>
                <div class="popup__close"></div>
            </div>
            <div class="course-buy">
                <a class="button" href="#">1 месяц за  2 900 ₽</a>
                <a class="button" href="#">3 месяца за  5 900 ₽</a>
                <a class="button" href="#">Бессрочно за  8 900 ₽</a>
            </div>
        </div>
    </div>
{% endblock %}
