{% extends "../parts/layout.crowd.twig" %}

{% block content %}

  <!--box-sizing-fix-->
  <div class="bxsz-fix">
  <div class="container">
    <ol>
      <li><a href="./crowd.html" target="_blank">Краудплатформа</a></li>
      <li><a href="./crowd-create-req.html" target="_blank">Создать запрос</a></li>
      <li><a href="./crowd-course.html" target="_blank">Программы</a></li>
      <li><a href="./crowd-answer.html" target="_blank">Карточка запроса. Ответ</a></li>
      <li><a href="./crowd-answer-others.html" target="_blank">Карточка запроса. Другие ответы</a></li>
    </ol>
  </div>
  </div>

{% endblock %}