{% extends "../parts/layout.crowd.twig" %}

{% block content %}

<div class="bxsz-fix">
<div class="container">
  <div class="crowd-answer">
    
        <div class="crowd-req">
          <div class="crowd-req-body">
            <div class="crowd-req-head">
              <div class="crowd-req-author">
                <div class="crowd-req-author-ava"><img src="./img/crowd/crowd-ava.png" srcset="./img/crowd/crowd-ava@2x.png 2x" alt="Станислав К."></div>
                <div class="crowd-req-author-names">
                  <div class="crowd-req-author-name">Станислав К.</div>
                  <div class="crowd-req-author-pos">Основатель проекта Greatsteve</div>
                </div>
              </div>

              <div class="crowd-req-date">
                <div class="crowd-req-date-label">Дата публикации</div>
                <div class="crowd-req-date-date">25 октября в 17:30</div>
              </div>
            </div><!--.head-->

            <div class="crowd-req-descr">
              <div class="crowd-req-title">Запрос на ревью Питч-презентации</div>
              <div class="crowd-req-txt">Всем привет! Сделал питч презентацию, но ещё шлифуем, но уже немного запутались. Нужна помощь. Коротко про мою идею: ПОследний год активно развиваю проект 2yachts.com — совемещаем две компетенции: маркетплейс + vip брокер. Занимаемся продажей и арендой яхт (за прошлый год 4500 лидов)</div>
              <div class="crowd-req-file">
                <a href="#" download class="ui-file"><span class="ui-file-txt">Презентация Web-Kids 2.0</span></a>
              </div>
            </div>

            <div class="crowd-req-labels">
              <a href="#" class="iconed-sticker crowd-req-label"><i class="emoji">📣</i> Питч проекта</a>
              <a href="#" class="iconed-sticker crowd-req-label"><i class="emoji">👜️</i> Маркетплейсы</a>
              <a href="#" class="iconed-sticker crowd-req-label"><i class="emoji">🎞️</i> Презентации</a>
            </div>
          </div>

          <div class="crowd-req-actions">
            <div class="crowd-req-btn">
              <a href="#" class="button button_block button_yellow">Запрос</a>
            </div>
            <div class="crowd-req-stat crowd-req-stat-answer">
              <div>35 просмотров</div>
              <div><a href="#">Редактировать</a></div>
            </div>
          </div>

          <div class="crowd-req-answer">
            <div class="crowd-tabs">
              <a href="#" class="crowd-tabs-item active">Твой ответ</a>
              <span class="crowd-tabs-item disabled"><span class="crowd-tabs-item-span"><i class="crowd-tabs-item-icon"><img src="./img/crowd/key.svg" loading="lazy" alt="key"></i>Другие ответы (3)</span></span>
            </div>

            <div class="crowd-req-hint">
              Дайте развернутые ответы участнику и помогите с его запросом: помогите посмотреть с другой стороны, поделитесь личным. <a href="#">Как я могу помочь?</a>  
            </div>

            <div class="row">
              <div class="col-md-9">
                <div class="crowd-req-answer-form">
                  <form>
                    <div class="input__margin crowd-req-answer-tight">
                      <div class="crowd-req-answer-title">Дайте фидбек на ценностное предложение.Как и за счёт чего его можно было бы усилить?</div>
                      <div class="input js-input">
                        <input name="answer_title" id="answer_title" type="text" class="input__ctrl">
                        <label for="answer_title" class="input__label">Введите свой ответ на вопрос</label>
                      </div>
                    </div>

                    <div class="input__margin">
                      <div class="crowd-req-answer-title">Что бы вы порекомендовали сделать, чтобы найти принципиальное отличие от конкурентов? Куда копать?</div>
                      <div class="visual-esitor-wrap">
                        <textarea name="req_descr" id="req_descr" rows="10" placeholder="Опишите ситуацию и свой проект" class="visual-editor"></textarea>
                      </div>
                    </div>

                    <button class="button button_paddings">Опубликовать ответ</button>
                  </form>
                </div>
              </div>
            </div>

            
          </div>
        </div>
      </div>

    
  </div>
</div><!--.container-->
</div><!--.fix-->

{% endblock %}
