{% extends "../parts/layout.crowd.twig" %}

{% block content %}

  <!--box-sizing-fix-->
  <div class="bxsz-fix">
    <div class="crowd-coursehead">
      <div class="container">
        <div class="crowd-coursehead-row">
          <div class="crowd-coursehead-content">
            <div class="crowd-coursehead-title">Комьюнити-лаборатория: валидация бизнес-идей</div>

            <div class="crowd-coursehead-progress">
              <div class="ui-progress">
                <div class="ui-progress-value">23%</div>
                <div class="ui-progress-bar">
                  <div class="ui-progress-progress" style="width: 23%;"></div>
                </div>

                <div class="info-mobile" id="info-mobile">
                  <a href="#" class="ico ico-info"><img src="img/i-ico.svg" alt=""></a>
                  <div class="crowd-coursehead-stats-clone">
                      <div class="crowd-coursehead-stats"  id="stat-clone">
                      
                      </div>
                  </div>
                </div>
              </div>

              
            </div>

            <div class="crowd-coursehead-stats" id="stat-parent">
              <div class="crowd-coursehead-stats-groups">
              <div class="crowd-coursehead-stats-group">
              <div class="crowd-coursehead-stats-items">
                <div class="stat">
                  <div class="stat__icon stat__icon_course"></div>
                  <div class="stat__value">1 из 6</div>
                  <div class="stat__label">уроков</div>
                </div>
                <div class="stat">
                  <div class="stat__icon stat__icon_tasks"></div>
                  <div class="stat__value">1 из 8</div>
                  <div class="stat__label">заданий</div>
                </div>
                <div class="stat">
                  <div class="stat__icon stat__icon_duration"></div>
                  <div class="stat__value">8 недель</div>
                  <div class="stat__label">длительность</div>
                </div>
                <div class="stat">
                  <div class="stat__icon stat__icon_date"></div>
                  <div class="stat__value">12 апреля</div>
                  <div class="stat__label">начат</div>
                </div>
                <div class="stat">
                  <div class="stat__icon stat__icon_date"></div>
                  <div class="stat__value">12 октября</div>
                  <div class="stat__label">завершение</div>
                </div>
              </div>
              </div>

              <div class="crowd-coursehead-stats-group">
                <div class="crowd-coursehead-stats-title">Крауд задачи</div>
                <div class="crowd-coursehead-stats-items">
                  <div class="stat">
                    <div class="stat__icon stat__icon_course"></div>
                    <div class="stat__value">1 из 3</div>
                    <div class="stat__label">создано запросов</div>
                  </div>
                  <div class="stat">
                    <div class="stat__icon stat__icon_course"></div>
                    <div class="stat__value">2 из 9</div>
                    <div class="stat__label">ответов на запросы</div>
                  </div>
                  <div class="stat">
                    <div class="stat__icon stat__icon_course"></div>
                    <div class="stat__value">1 из 9</div>
                    <div class="stat__label">получено ответов</div>
                  </div>
                </div>
              </div>
              </div>
            </div>

          </div>
          <div class="crowd-coursehead-img">
            <img src="./img/crowd/crowd-promo.png" srcset="./img/crowd/crowd-promo@2x.png" alt="Краудсорсинговая платформа">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="crowd-tabs">
        <a href="#" class="crowd-tabs-item active">Содержание</a>
        <a href="#" class="crowd-tabs-item">Участники потока</a>
        <a href="#" class="crowd-tabs-item">О курсе</a>
      </div>

      <div class="courses">
        <div class="courses-group">
          <div class="courses-group-title">Неделя №1</div>
          <div class="courses-group-body">

            <a href="#" class="courses-card">
              <div class="courses-card-type">Встреча №1</div>
              <div class="courses-card-name">Нетворкинг-сессия</div>
              <div class="courses-card-duration">2 ч.</div>
              <div class="courses-card-percent">100%</div>
            </a>

            <a href="#" class="courses-card">
              <div class="courses-card-type">Воркшоп №1</div>
              <div class="courses-card-name">Ценность: как создавать больше за меньшую стоимость и еще много много много текста и еще много много много текста и еще много много много текста и еще много много много текста и еще много много много текста и еще много много много текста</div>
              <div class="courses-card-duration">1.5 ч.</div>
              <div class="courses-card-percent">100%</div>
            </a>

            <a href="#" class="courses-card">
              <div class="courses-card-type">Урок №1</div>
              <div class="courses-card-name">Шаблоны и материалы по теме недели</div>
              <div class="courses-card-duration">1 ч.</div>
              <div class="courses-card-percent">100%</div>
            </a>
            
            <a href="#" class="courses-card">
              <div class="courses-card-type">Задание</div>
              <div class="courses-card-name">Определяем цели и NSM</div>
              <div class="courses-card-duration">1 ч.</div>
              <div class="courses-card-percent">100%</div>
            </a>
          </div>

        </div><!--.group-->

        <div class="courses-group">
          <div class="courses-group-title">Неделя №2</div>
          <div class="courses-group-body">

            <a href="#" class="courses-card">
              <div class="courses-card-type">Воркшоп №2</div>
              <div class="courses-card-name">Рынок: исследуем и ищем способы отстроиться от конкурентов</div>
              <div class="courses-card-duration">12 ч.</div>
              <div class="courses-card-percent">50%</div>
            </a>

            <div class="courses-card">
              <div class="courses-card-type">Урок №2</div>
              <div class="courses-card-name">Шаблоны и материалы по теме</div>
              <div class="courses-card-duration">9 ч.</div>
              <div class="courses-card-percent">0%</div>
            </div>

            <div class="courses-card">
              <div class="courses-card-type">Q&A сессия</div>
              <div class="courses-card-name">Гость: Дарья Крошкина. СЕО и основатель StudyFree</div>
              <div class="courses-card-duration">9 ч.</div>
              <div class="courses-card-percent">0%</div>
            </div>

          </div>
        </div>
      </div><!--.courses-->
    </div><!--.container-->
  </div><!--bxsz-fix-->

  <script>
      let parent = document.getElementById('stat-parent');
      let parent2 = document.getElementById('stat-clone');
      let elem = parent.querySelector('.crowd-coursehead-stats-groups');

      let clone = elem.cloneNode(true);
      parent2.appendChild(clone);

      
      document.querySelector('.ico-info').onclick = function() {
          if(this.classList.contains('active')){
              document.querySelector('.crowd-coursehead-stats-clone').style.display = 'none';
              this.classList.remove("active");

          }
          else{
              this.classList.add("active");
              document.querySelector('.crowd-coursehead-stats-clone').style.display = 'block';
              var c = document.getElementById('info-mobile');
              var screenWidth = window.screen.width;
              if(screenWidth>=770){
                  parent2.style.left = '-'+c.offsetLeft+'px';
                  parent2.style.top = '-'+ (parent2.offsetHeight + 20) +'px';
              }
              else{
                  parent2.style.right = '-30px';
                  parent2.style.bottom = '-' + (parent2.offsetHeight + 32) + 'px';
              }
          }
          return false;
        }
    </script>

{% endblock %}