{% extends "../parts/layout.crowd.twig" %}

{% block content %}

<div class="bxsz-fix">
<div class="container">
  <div class="crowd-answer">
    <div class="row">
      <div class="col-md-9">
        <div class="crowd-req">
          <div class="crowd-req-body">
            <div class="crowd-req-head">
              <div class="crowd-req-author">
                <div class="crowd-req-author-ava"><img src="./img/crowd/crowd-ava.png" srcset="./img/crowd/crowd-ava@2x.png 2x" alt="Станислав К."></div>
                <div class="crowd-req-author-names">
                  <div class="crowd-req-author-name">Станислав К.</div>
                  <div class="crowd-req-author-pos">Основатель проекта Greatsteve</div>
                </div>
              </div>

              <div class="crowd-req-date">
                <div class="crowd-req-date-label">Дата публикации</div>
                <div class="crowd-req-date-date">25 октября в 16:30</div>
              </div>
            </div><!--.head-->

            <div class="crowd-req-descr">
              <div class="crowd-req-title">Запрос на ревью Питч-презентации</div>
              <div class="crowd-req-txt">Всем привет! Сделал питч презентацию, но ещё шлифуем, но уже немного запутались. Нужна помощь. Коротко про мою идею: ПОследний год активно развиваю проект 2yachts.com — совемещаем две компетенции: маркетплейс + vip брокер. Занимаемся продажей и арендой яхт (за прошлый год 4500 лидов)</div>
              <div class="crowd-req-file">
                <a href="#" download class="ui-file"><span class="ui-file-txt">Презентация Web-Kids 2.0</span></a>
              </div>
            </div>

            <div class="crowd-req-labels">
              <a href="#" class="iconed-sticker crowd-req-label"><i class="emoji">📣</i>Питч проекта</a>
              <a href="#" class="iconed-sticker crowd-req-label"><i class="emoji">👜️</i> Маркетплейсы</a>
              <a href="#" class="iconed-sticker crowd-req-label"><i class="emoji">🎞️</i>Презентации</a>
            </div>
          </div>

          <div class="crowd-req-actions">
            <div class="crowd-req-btn">
              <a href="#" class="button button_block button_yellow">Запрос</a>
            </div>
            <div class="crowd-req-stat crowd-req-stat-mobile">
              <div>5 ответов</div>
              <div>35 просмотров</div>
            </div>
          </div>

          <div class="crowd-req-answer">
            <div class="crowd-tabs">
              <a href="#" class="crowd-tabs-item">Твой ответ</a>
              <a href="#" class="crowd-tabs-item active">Другие ответы (3)</a>
            </div>

            <div class="crowd-replys">

              <div class="crowd-reply-wrap">
                <div class="crowd-reply">
                  <div class="crowd-reply-head">
                    <div class="crowd-reply-author">
                      <div class="crowd-reply-author-ava"><img src="./img/crowd/crowd-ava.png" srcset="./img/crowd/crowd-ava@2x.png 2x" alt="Станислав К."></div>
                      <div class="crowd-reply-author-names">
                        <div class="crowd-reply-author-name">Станислав К.</div>
                        <div class="crowd-reply-author-pos">Основатель проекта Greatsteve</div>
                      </div>
                    </div>

                    <div class="crowd-reply-date">18 апреля в 20:04</div>
                  </div><!--.head-->

                  <div class="crowd-reply-body">Всем привет! Сделал питч презентацию, но ещё шлифуем, но уже немного запутались. Нужна помощь. Коротко про мою идею: ПОследний год активно развиваю проект 2yachts.com — совемещаем две компетенции: маркетплейс + vip брокер. Занимаемся продажей и арендой яхт (за прошлый год 4500 лидов)</div>
                  
                  <div class="crowd-reply-bottom">
                    <div class="crowd-reply-actions">
                      <a href="#" class="crowd-reply-like crowd-reply-action">3</a>
                      <a href="#" class="crowd-reply-dislike crowd-reply-action">1</a>
                    </div>

                    <div class="crowd-reply-tocomment"><a href="#">Редактировать</a><a href="#">Комментировать</a></div>
                  </div>
                </div>
              </div>

              <div class="crowd-reply-wrap">
                <div class="crowd-reply">
                  <div class="crowd-reply-head">
                    <div class="crowd-reply-author">
                      <div class="crowd-reply-author-ava"><img src="./img/crowd/crowd-ava.png" srcset="./img/crowd/crowd-ava@2x.png 2x" alt="Станислав К."></div>
                      <div class="crowd-reply-author-names">
                        <div class="crowd-reply-author-name">Станислав К.</div>
                        <div class="crowd-reply-author-pos">Основатель проекта Greatsteve</div>
                      </div>
                    </div>

                    <div class="crowd-reply-date">18 апреля в 20:04</div>
                  </div><!--.head-->

                  <div class="crowd-reply-body">Всем привет! Сделал питч презентацию, но ещё шлифуем, но уже немного запутались. Нужна помощь. Коротко про мою идею: ПОследний год активно развиваю проект 2yachts.com — совемещаем две компетенции: маркетплейс + vip брокер. Занимаемся продажей и арендой яхт (за прошлый год 4500 лидов)</div>
                  
                  <div class="crowd-reply-bottom">
                    <div class="crowd-reply-actions">
                      <a href="#" class="crowd-reply-like crowd-reply-action">3</a>
                      <a href="#" class="crowd-reply-dislike crowd-reply-action">1</a>
                    </div>

                    <div class="crowd-reply-tocomment"><a href="#">Редактировать</a><a href="#">Комментировать</a></div>
                  </div>
                </div>
                <div class="crowd-reply-answers">
                  <div class="crowd-reply">
                    <div class="crowd-reply-head">
                      <div class="crowd-reply-author">
                        <div class="crowd-reply-author-ava"><img src="./img/crowd/crowd-ava.png" srcset="./img/crowd/crowd-ava@2x.png 2x" alt="Станислав К."></div>
                        <div class="crowd-reply-author-names">
                          <div class="crowd-reply-author-name">Станислав К.</div>
                          <div class="crowd-reply-author-pos">Основатель проекта Greatsteve</div>
                        </div>
                      </div>

                      <div class="crowd-reply-date">19 апреля в 18:24</div>
                    </div><!--.head-->

                    <div class="crowd-reply-body">Всем привет! Сделал питч презентацию, но ещё шлифуем, но уже немного запутались. Нужна помощь. Коротко про мою идею: ПОследний год активно развиваю проект 2yachts.com — совемещаем две компетенции:</div>
                    
                    <div class="crowd-reply-bottom">
                      <div class="crowd-reply-actions">
                        <a href="#" class="crowd-reply-like crowd-reply-action">30</a>
                        <a href="#" class="crowd-reply-dislike crowd-reply-action">4</a>
                      </div>

                      <div class="crowd-reply-tocomment"><a href="#">Редактировать</a><a href="#">Комментировать</a></div>
                    </div>
                  </div>

                  <div class="crowd-reply crowd-comment">
                    <div class="crowd-reply-head">
                      <div class="crowd-reply-author">
                        <div class="crowd-reply-author-ava"><img src="./img/crowd/crowd-ava.png" srcset="./img/crowd/crowd-ava@2x.png 2x" alt="Станислав К."></div>
                        <div class="crowd-reply-author-names">
                          <div class="crowd-reply-author-name">Станислав К.</div>
                          <div class="crowd-reply-author-pos">Основатель проекта Greatsteve</div>
                        </div>
                      </div>
                    </div><!--.head-->
                    <div class="visual-esitor-wrap">
                      <textarea name="comment" id="comment" rows="6" placeholder="Введите комментарий и нажмите Enter чтобы отправить" class="visual-editor"></textarea>
                    </div>

                    <div class="crowd-reply-bottom">
                      <div class="crowd-reply-actions">
                        <a href="#" class="crowd-reply-like crowd-reply-action">30</a>
                        <a href="#" class="crowd-reply-dislike crowd-reply-action">4</a>
                      </div>

                      <div class="crowd-reply-tocomment"><a href="#" class="crowd-reply-cancel">Отмена</a><a href="#">Сохранить</a></div>
                    </div>
                  </div>

                </div><!--.answers-->

                <div class="crowd-reply crowd-comment">
                  <div class="crowd-reply-head">
                    <div class="crowd-reply-author">
                      <div class="crowd-reply-author-ava"><img src="./img/crowd/crowd-ava.png" srcset="./img/crowd/crowd-ava@2x.png 2x" alt="Станислав К."></div>
                      <div class="crowd-reply-author-names">
                        <div class="crowd-reply-author-name">Станислав К.</div>
                        <div class="crowd-reply-author-pos">Основатель проекта Greatsteve</div>
                      </div>
                    </div>
                  </div><!--.head-->
                  <div class="visual-esitor-wrap">
                    <textarea name="comment" id="comment" rows="6" placeholder="Введите комментарий и нажмите Enter чтобы отправить" class="visual-editor"></textarea>
                  </div>
                </div>
              </div><!--.wrap-->
            </div><!--replys-->


          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="crowd-req-stat">
          {# <div class="crowd-req-stat-rate"><span class="crowd-req-stat-rate-value">3.0</span> Рейтинг</div> #}
          <div>5 ответов</div>
          <div>35 просмотров</div>
        </div>
      </div>
    </div><!--.row-->
    
  </div>
</div><!--.container-->
</div><!--.fix-->

{% endblock %}
