{% extends "../parts/layout.twig" %}

{% block content %}
    <div class="container">
        <div class="history">
            <h1 class="history__title">История покупок</h1>

            <div class="history-table-wrapper">
                <table class="history-table">
                    <tbody>
                        <tr>
                            <td class="history-table__main">
                                Madlab: кратно ускорь стартап за 7 недель
                            </td>
                            <td class="history-table__price">
                                9 900 ₽
                            </td>
                            <td class="history-table__name">
                                Юкасса
                            </td>
                            <td class="history-table__date">
                                15.05.21
                            </td>
                        </tr>
                        <tr>
                            <td class="history-table__main">
                                Акселератор образовательных проектов
                            </td>
                            <td class="history-table__price">
                                2 900 ₽
                            </td>
                            <td class="history-table__name">
                                Юкасса
                            </td>
                            <td class="history-table__date">
                                25.05.21
                            </td>
                        </tr>
                        <tr>
                            <td class="history-table__main">
                                Madlab: кратно ускорь стартап за 7 недель
                            </td>
                            <td class="history-table__price">
                                9 900 ₽
                            </td>
                            <td class="history-table__name">
                                Юкасса
                            </td>
                            <td class="history-table__date">
                                15.05.21
                            </td>
                        </tr>
                        <tr>
                            <td class="history-table__main">
                                Акселератор Digital-проектов
                            </td>
                            <td class="history-table__price">
                                23 900 ₽
                            </td>
                            <td class="history-table__name">
                                Юкасса
                            </td>
                            <td class="history-table__date">
                                29.05.21
                            </td>
                        </tr>
                        <tr>
                            <td class="history-table__main">
                                Внутреннее предпринимательство
                            </td>
                            <td class="history-table__price">
                                5 300 ₽
                            </td>
                            <td class="history-table__name">
                                Юкасса
                            </td>
                            <td class="history-table__date">
                                29.05.21
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagger">
                <a class="pagger__item pagger__item_active">1</a>
                <a href="#" class="pagger__item">2</a>
                <a href="#" class="pagger__item">3</a>
                <a href="#" class="pagger__item">…</a>
                <a href="#" class="pagger__item">99</a>
            </div>
        </div>
    </div>
{% endblock %}
