{% extends "./index.twig" %}

{% block outside %}
    <div class="popup">
        <div class="popup__content">
            <div class="form">
                <div class="form__heading">
                    <h3 class="form__title">Войти через почту</h3>
                    <div class="popup__close"></div>
                </div>

                <div class="form__content">
                    <div class="field">
                        <div class="field__msg field__msg_error">Хьюстон, у нас проблемы!</div>

                        <div class="input input_error js-input">
                            <input type="email" class="input__ctrl" />

                            <label class="input__label">Ваша почта</label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="field__msg field__msg_sucess">Всё оке!</div>

                        <div class="input input_success js-input">
                            <input type="email" class="input__ctrl" />

                            <label class="input__label">Пароль</label>

                            <span class="input__hint">
                                <a href="#">Не помню</a>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <div class="checkbox">
                            <label class="checkbox__ctrl">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                            </label>
                            <span class="checkbox__label">
                                Принимаю <a href="#">оферту</a>
                            </span>
                        </div>
                    </div>

                    <button class="button button_wide" type="submit">Войти</button>
                </div>

                <div class="form__footer">
                    <p class="form__small-title">или вы можете войти через соцсети</p>

                    <div class="social-icons">
                        <a href="#" class="social-icon social-icon_vk"></a>
                        <a href="#" class="social-icon social-icon_fb"></a>
                        <a href="#" class="social-icon social-icon_tw"></a>
                        <a href="#" class="social-icon social-icon_goog"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
