{% extends "../parts/layout.crowd.twig" %}

{% block content %}

  <!--box-sizing-fix-->
  <div class="bxsz-fix">
  <div class="container">
    <h2>Страницы</h2>
    <ol>
      <li><a href="./index.html" target="_blank">Главная</a></li>
      <li><a href="./404.html" target="_blank">404</a></li>
      <li><a href="./auth.html" target="_blank">Авторизация</a></li>
      <li><a href="./cert.html" target="_blank">Сертфикат</a></li>
      <li><a href="./course.html" target="_blank">Курс</a></li>
      <li><a href="./course-with-crowd.html" target="_blank">Курс. Крауд иконки</a></li>
      <li><a href="./course-auth.html" target="_blank">Курс. Авторизация</a></li>
      <li><a href="./course-content.html" target="_blank">Курс. Контент</a></li>
      <li><a href="./course-popup.html" target="_blank">Курс. Попап</a></li>
      <li><a href="./course-progress.html" target="_blank">Курс. Прогресс</a></li>
      <li><a href="./course-stopped.html" target="_blank">Курс. Остановлен</a></li>
      <li><a href="./email-check.html" target="_blank">Эмаил проверен</a></li>
      <li><a href="./history.html" target="_blank">История</a></li>
      <li><a href="./login.html" target="_blank">Логин</a></li>
      <li><a href="./pay.html" target="_blank">Оплата</a></li>
      <li><a href="./profile.html" target="_blank">Профиль</a></li>
      <li><a href="./profile-password.html" target="_blank">Профиль. Пароли</a></li>
      <li><a href="./profile-photo.html" target="_blank">Профиль. Фото</a></li>
      <li><a href="./profile-social.html" target="_blank">Профиль. Соц. аккаунты</a></li>
      <li><a href="./profile-work.html" target="_blank">Профиль. Деятельность</a></li>
      <li><a href="./reset.html" target="_blank">Сброс</a></li>
    </ol>


    <h3>Крауд страницы</h3>
    <ol>
      <li><a href="./crowd.html" target="_blank">Краудплатформа</a></li>
      <li><a href="./crowd-create-req.html" target="_blank">Создать запрос</a></li>
      <li><a href="./crowd-course.html" target="_blank">Программы</a></li>
      <li><a href="./crowd-answer.html" target="_blank">Карточка запроса. Ответ</a></li>
      <li><a href="./crowd-answer-others.html" target="_blank">Карточка запроса. Другие ответы</a></li>
      <li><a href="./login-inputs-fix.html" target="_blank">Форма с поправленными инпутами</a></li>
    </ol>
  </div>
  </div>

{% endblock %}