{% extends "./index.twig" %}

{% block outside %}
    <div class="popup">
        <div class="popup__content">
            <div class="form">
                <div class="form__heading">
                    <h3 class="form__title">Оплатить обучение</h3>
                    <div class="popup__close"></div>
                </div>

                <div class="form__content">
                    <div class="pay">
                        <div class="pay__list">
                            <div class="pay__item">
                                <div class="pay__title">Модуль обучения Digital Dolina Unit-экономика</div>
                                <div class="pay__amount">3 900 ₽</div>
                                <div class="pay__remove">
                                    <div class="pay__delete"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pay__item pay__item_total">
                            <div class="pay__title">Итого</div>
                            <div class="pay__amount">3 900 ₽</div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="input js-input">
                            <input type="text" class="input__ctrl" />

                            <label class="input__label">Фамилия и имя</label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="input js-input">
                            <input type="email" class="input__ctrl" />

                            <label class="input__label">E-mail</label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="input js-input">
                            <input type="text" class="input__ctrl" />

                            <label class="input__label">Телефон</label>
                        </div>
                    </div>

                    <div class="field">
                        <div class="input js-input">
                            <input type="text" class="input__ctrl" />

                            <label class="input__label">Промокод</label>
                        </div>
                    </div>

                    <div class="field field_indent">
                        <div class="checkbox">
                            <label class="checkbox__ctrl">
                                <input type="checkbox">
                                <span class="checkbox__icon"></span>
                            </label>
                            <span class="checkbox__label">
                                Принимаю условия <a href="#">оферты</a> и даю согласие на <a href="#">обработку данных</a>
                            </span>
                        </div>
                    </div>

                    <button class="button button_wide" type="submit">Оплатить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
