{% set active_menu = 'password' %}

{% extends "./profile.twig" %}

{% block profile_form %}
    <div class="profile__field">
        <div class="field">
            <div class="input js-input">
                <input type="password" class="input__ctrl" value="123123" />

                <label class="input__label">Новый пароль</label>
            </div>
        </div>
    </div>

    <div class="profile__field">
        <div class="field">
            <div class="input js-input">
                <input type="password" class="input__ctrl" value="123123" />

                <label class="input__label">Ещё раз</label>
            </div>
        </div>
    </div>

    <div class="profile__field">
        <div class="field">
            <div class="input js-input">
                <input type="password" class="input__ctrl" value="123123" />

                <label class="input__label">Старый пароль</label>
            </div>
        </div>
    </div>

    <div class="profile__field">
        <button class="button button_wide">Сохранить</button>
    </div>
{% endblock %}
