<div class="container">
    <footer class="footer">
        <div class="footer__left">
            @ Digital Dolina 2021<br />
            <a href="#">Политика конфиденциальности</a>
        </div>
        <div class="footer__right">
            <div class="footer__icon footer__icon_tg"></div>
            <div class="footer__icon footer__icon_wp"></div>
        </div>
    </footer>
</div>
