<header class="header header_with-back">
    <div class="container">
        <div class="header__section header__section_main">
            <a href="#" class="header__black"></a>
        </div>

        <div class="header-crowd">
          <a href="#" class="header__logo">
            <span class="logo">Digital Dolina</span>
          </a>

          <div class="header-crowd-menu">
            <ul>
              <li><a href="#" class="active">Мои программы</a></li>
              <li><a href="#">Крауд-платформа</a></li>
            </ul>
          </div>
        </div>

        <div class="header__section header__section_side">
            <div class="user-menu js-dropdown">
                <div class="user-menu__toggler js-dropdown-toggler">
                    <img class="user-menu__avatar" src="https://miro.medium.com/fit/c/262/262/1*puV9IW8iZY2Hmci_uoqHeA@2x.jpeg" alt="">
                    <div class="user-menu__name">Станислав К.</div>
                    <div class="user-menu__icon"></div>
                </div>
                <div class="user-menu__list js-dropdown-content">
                    <a href="#" class="user-menu__item js-dropdown-item only-crowd-mobile">Мои программы</a>
                    <a href="#" class="user-menu__item js-dropdown-item only-crowd-mobile">Крауд-платформа</a>
                    <a href="#" class="user-menu__item js-dropdown-item">Профиль</a>
                    <a href="#" class="user-menu__item js-dropdown-item">Покупки</a>
                    <a href="#" class="user-menu__item js-dropdown-item">Выход</a>
                </div>
            </div>
        </div>
    </div>
</header>
