<header class="header">
    <div class="header__section header__section_main">
        <a href="#">
            <span class="logo">Digital Dolina</span>
        </a>
    </div>

    <div class="header__section header__section_side">
        <div class="notifications">
            <div class="notifications__toggler js-notifications-toggler">
                <div class="notifications__counter">3</div>
            </div>
            <div class="notifications__list js-notifications">
                <div class="notification">
                    <div class="notification__close"></div>
                    <div class="notification__pic notification__pic_red"></div>
                    <div class="notification__text">Вышел новый юнит! «Как настроить Яндекс.Метрику и Google.analytics через GTM»</div>
                    <div class="notification__action"><a href="#">Пройти юнит</a></div>
                </div>
                <div class="notification">
                    <div class="notification__close"></div>
                    <div class="notification__pic notification__pic_blue"></div>
                    <div class="notification__text">Вышел новый юнит! «Как говорить в контенте, чтобы повысить продажи»</div>
                    <div class="notification__action"><a href="#">Пройти юнит</a></div>
                </div>
                <div class="notification">
                    <div class="notification__close"></div>
                    <div class="notification__pic notification__pic_yellow"></div>
                    <div class="notification__text">Вышел новый юнит! «PR в соцсетях: от персоны до бренда»</div>
                    <div class="notification__action"><a href="#">Пройти юнит</a></div>
                </div>
            </div>
        </div>

        <div class="user-menu js-dropdown">
            <div class="user-menu__toggler js-dropdown-toggler">
                <img class="user-menu__avatar" src="https://miro.medium.com/fit/c/262/262/1*puV9IW8iZY2Hmci_uoqHeA@2x.jpeg" alt="">
                <div class="user-menu__name">Станислав К.</div>
                <div class="user-menu__icon"></div>
            </div>
            <div class="user-menu__list js-dropdown-content">
                <a href="#" class="user-menu__item js-dropdown-item">Мои курсы</a>
                <a href="#" class="user-menu__item js-dropdown-item">Профиль</a>
                <a href="#" class="user-menu__item js-dropdown-item">Покупки</a>
                <a href="#" class="user-menu__item js-dropdown-item">Выход</a>
            </div>
        </div>
    </div>
</header>
