<header class="header header_with-back">
    <div class="container">
        <div class="header__section header__section_main">
            <a href="#" class="header__black"></a>
        </div>

        <a href="#" class="header__logo">
            <span class="logo">Digital Dolina</span>
        </a>

        <div class="header__section header__section_side">
            <div class="user-menu js-dropdown">
                <div class="user-menu__toggler js-dropdown-toggler">
                    <img class="user-menu__avatar" src="https://miro.medium.com/fit/c/262/262/1*puV9IW8iZY2Hmci_uoqHeA@2x.jpeg" alt="">
                    <div class="user-menu__name">Станислав К.</div>
                    <div class="user-menu__icon"></div>
                </div>
                <div class="user-menu__list js-dropdown-content">
                    <a href="#" class="user-menu__item js-dropdown-item">Мои курсы</a>
                    <a href="#" class="user-menu__item js-dropdown-item">Крауд-платформа</a>
                    <a href="#" class="user-menu__item js-dropdown-item">Профиль</a>
                    <a href="#" class="user-menu__item js-dropdown-item">Покупки</a>
                    <a href="#" class="user-menu__item js-dropdown-item">Выход</a>
                </div>
            </div>
        </div>
    </div>
</header>
